/* src/App.css */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading-page, .instruction-page, .chat-interface {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  width: 80%;
  max-width: 600px;
}

h1, h2 {
  color: #1877f2;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.9rem;
}

button {
  background-color: #1877f2;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #166fe5;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.overall-progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.overall-progress-bar .progress-fill {
  height: 100%;
  background-color: #4CAF50;
  transition: width 0.5s ease-in-out;
}

.overall-progress-bar .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #676767;
  font-size: 0.8rem;
}

.amrita-logo {
  width: 100%;
  /* max-width: 500px; */
  height: auto;
  margin-bottom: 20px;
}